.header__top {
    background: #000 url('../images/header.gif') no-repeat right !important;
    background-size: 100% !important;
    min-height: 125px;
    @media screen and (max-width: 767px) {
        min-height: 70px;
    }
}

.navbar {
    background: var(--golden);
    .dropdown-menu {
        background: var(--golden);
        li {
            border-bottom: 1px solid rgba(0, 0, 0, .15);
            &:last-child {
                border-bottom: none;
            }
        }
        @media screen and (max-width: 767px) {
            border: none;
            margin-top: 0;
        }
        .nav-link:before {
            content: none;
        }
    }
}

.nav-item {
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
    @media screen and (max-width: 767px) {
        border-bottom: 1px solid rgba(0, 0, 0, .15);
    }
}

.nav-link {
    color: #000;
    font-size: 15px;
    &::before {
        content: '';
        background: url('../images/button.gif') no-repeat center;
        width: 12px;
        height: 18px;
        position: absolute;
        top: 11px;
        left: -8px;
    }
    &:hover {
        color: rgba(255, 255, 255, 0.6);
    }
}