.header__top {
    background: #000 url('../images/header-text.jpg') no-repeat right !important;
    background-size: contain !important;
}
.navbar {
    background: var(--golden);
    .dropdown-menu {
        background: var(--golden);
        .nav-link:before {
            content: none;
        }
    }
}
.nav-item {
    margin-right: 8px;
    margin-left: 8px;
    position: relative;
}
.nav-link {
    color: #000;
    font-size: 15px;
    &::before {
        content: '';
        background: url('../images/button.gif') no-repeat center;
        width: 12px;
        height: 18px;
        position: absolute;
        top: 11px;
        left: -8px;
    }
    &:hover {
        color: rgba(255,255,255,0.6);
    }
}